$color-primary: #3B5263 ;

.cats-button-container-rank {

    overflow-y: scroll;
    height: calc(100vh - 72px - 160px);
}

.cats-container-rank {
    max-width: 800px;
    margin: 1em auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button-load-more {
    margin: 0 auto 1em auto;
    padding:8px 16px;
    background-color: $color-primary;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 20,27px;
    border: 1px solid $color-primary;
    cursor:pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    &:hover {
        background: transparent;
        color: $color-primary;
        border: 1px solid $color-primary;
    }
    &:focus {
        outline: 0
    }
}

.cat-rank-div-img {
    border: 10px white solid;
    height: 12em;
    width: 12em;
}

.vote-typo {
    color: $color-primary;
    font-weight: bold;
}

// === === === === MEDIA QUERIES === === === ===
@media screen and (max-width: 540px) {
    .cats-container-rank {
        max-width: 100%;
    }
    .cat-rank-img {
        height: 7em;
        width: 7em;
    }
}